@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.slika {
    /* width: 100%; */
    height: 85vh;
}

.img-container {
  margin-top: 30px;
  left:auto;
  /* right: auto; */
  /* object-fit: cover; */
}

.images-list {
  margin-right: 3rem;
  margin-left: 3rem;
  max-height: 400px !important;
  overflow-y: auto;
  border: 2px solid gray;
}

@media screen and (max-height: 1080px) {
  .toolbox {
      height: 93vh;
      background-color: #AAA;
  }
}

@media screen and (max-height: 700px) {
  .toolbox {
      height: 90vh;
      background-color: #AAA;
  }

  .image-list {
      max-height: 200px;
  }
}

.upload-btn {
  width: 100%;
}

.info-text {
  text-align: left;
}

.finish-btn {
  width: 100%;
}

.start-btn {
  width: 100%;
}